<header class="header">
  <div class="header__title">
    <strong>
      <%= link_to 'Picterest', root_path %>
    </strong>
  </div>
  <div class="header__menu header__menu--full">
    <div class="header__menu__container header__menu--full__container">
      <%= link_to 'Pics', pics_path, class: 'header__menu__container__item' %>
      <% if user_signed_in? %>
        <%= link_to 'CREATE NEW PIC', new_pic_path, class: 'header__menu__container__item' %>
      <% end %>
    </div>
  </div>
  <div class="header__menu">
    <div class="header__menu__container">
      <% if user_signed_in? %>
        <p><%= current_user.name %></p>
        <%= link_to logout_path, class: 'header__menu__container__item' do %>
          <span class="glyphicon glyphicon-log-out"></span>
        <% end %>
      <% else %>
        <%= link_to login_path, class: 'header__menu__container__item' do %>
          Log In
          <span class="glyphicon glyphicon-log-in"></span>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
