<div class="form-container">
  <%= form_with(model: pic, local: true, class: 'form-horizontal form-container__form') do |form| %>
    <% if pic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(pic.errors.count, "error") %> prohibited this pic from being saved:</h2>

        <ul>
        <% pic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="area" class="form-container__dropdown">
      <% if params[:action].eql? 'new' %>
        <%= form.label :image %>
        <%= form.file_field :image, id: 'pic_image' %>
      <% else %>
        <%= form.label :image %>
        <%= form.file_field :image, id: 'pic_image' %>
        <%= image_tag(@pic.image.url(:medium), class: 'inserted-img') %>
        <span id="removeImg" class="glyphicon glyphicon-remove" onclick="removeImg()"></span>
      <% end %>
    </div>

    <div class="form-container__part">
      <div class="form-container__desc form-group">
        <%= form.label :description, class: 'col-sm-2' %>
        <div class="col-sm-12">
          <%= form.text_area :description, id: :pic_description, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <% if params[:action].eql? 'new' %>
            <%= form.submit "Create", class: 'btn btn-default btn-block' %>
          <% else %>
            <%= form.submit "Save", class: 'btn btn-default btn-block' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
