<div class="pics">
  <div class="row pics__container">
    <div class="col-sm-12">
      <h1 class="text-center">Pics</h1>

      <div class="pics__container__list">
        <% @pics.each do |pic| %>
          <div class="pics__container__list__item">
            <% if current_user.id.eql? pic.user_id %>
              <div class="pics__container__list__item__action-btn">
                <%= link_to edit_pic_path(pic) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
                <%= link_to pic, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </div>
            <% end %>
            <%= link_to(pic) do %>
              <p><%= pic.description %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="pics__new-pic-btn">
  <%= link_to '', new_pic_path %>
</div>
